.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: black;
}

.icon {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.Bigboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  margin: 0 auto;
  background-color: lightgray;
  border: 10px solid gray;
  border-color: white gray gray white;
}

.squeaBoard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  background-color: lightgray;
  border: 6px solid gray;
  border-color: gray white white gray;
}

.numberBoard {
  width: 80px;
  height: 100%;
  font-size: 30px;
  color: red;
  text-align: center;
  background-color: rgb(52 46 46);
}

.faceBoard {
  width: 40px;
  height: 40px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: lightgray;
  background-position: -330px;
  border: 5px solid;
  border-color: white gray gray white;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  margin-top: 10px;
  background-color: lightgray;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
}

.flontCell {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.frontBoard {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  border: solid;
}

.stone {
  box-sizing: border-box;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: darkgray;
  border: 5px solid;
  border-color: white gray gray white; /* 上から時計 */
}
